.card {
  border-top: 30px solid var(--color-primary-light);
}

.card-2 {
  border-top: 30px solid var(--color-primary-light);
  border-left: 8px solid var(--color-primary-light);
  border-right: 8px solid var(--color-primary-light);
  border-bottom: 8px solid var(--color-primary-light);
}
