:root {
  --color-primary: #2a92a1;
  --color-primary-light: #8bd1db;
  --color-secondary: #fa5159;
  --color-accent: #fdc5c8;
  --color-neutral-beife: #fff;
  --color-whatever: #ac161d;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

html {
  font-family: var(--font-primary);
}

a {
  color: var(--color-primary);
}

ul, ol, li {
  list-style-type: none;
  text-decoration: none;
}

dt {
  font-weight: bold;
}

mark {
  background-color: var(--color-secondary);
}

blockquote {
  font-weight: bold;
}

cite {
  font-weight: lighter;
}

q {
  font-weight: bolder;
}
